/* Share Font Work Sans  */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,700&family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* Nav Section  */
header {
  width: 100%;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Responsive */
@media screen and (max-width: 1120px) {
  nav {
    flex-direction: column;
  }

  header {
    height: auto;
  }
}
@media screen and (max-width: 400px) {
  nav {
    flex-direction: column;
  }

  header {
    height: auto;
  }
}

nav .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

nav img {
  width: 80px;
  height: 40px;
}
nav h3 {
  font-size: 1.8rem;
  font-weight: 700;
}
.g-color {
  color: #ff42a5;
}

nav > ul {
  display: flex;
  margin-right: 90px;
  align-items: center;
}

@media screen and (max-width: 1120px) {
  nav > ul {
    flex-direction: column;
    gap: 36px;
  }
}
@media screen and (max-width: 400px) {
  nav > ul {
    flex-direction: column;
    gap: 36px;
  }
}

nav li {
  list-style: none;
  margin-right: 40px;
}
nav li a {
  text-decoration: none;
  color: #3c354f;
  font-size: 0.7rem;
  font-weight: 600;
}
.box {
  display: flex;
  align-items: center;
  width: 250px;
  height: 50px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
.box li img {
  margin: 0px;
  width: 24px;
  height: 24\px;
}

/* Banner section  */
.banner {
  gap: 70px;
  margin-top: 38px;
  background-image: url(/images/Group\ 14.png);

  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Respon */
@media screen and (max-width: 1120px) {
  .banner {
    flex-direction: column-reverse;
  }

  .banner img {
    margin: 0;
    width: 711px;
    height: 446px;
  }
}
@media screen and (max-width: 400px) {
  .banner {
    flex-direction: column-reverse;
  }

  .banner img {
    margin: 0;
    width: 350px;
    height: 416px;
    padding-left: 50px;
  }
  .banner-content {
    padding-right: 60px;
  }
}

.banner-content {
  margin-left: 90px;
}
.banner img {
  margin-right: 90px;
}
.banner-content h2 {
  color: #0b0223;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-content h1 {
  font-size: 3.6rem;
  font-weight: 800;
  text-transform: uppercase;

  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-content p {
  text-align: start;
  color: #534c64;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: lowercase;
}
.btn-primary {
  border: 0px;
  text-align: center;
  width: 100px;
  height: 40px;
  display: inline-flex;
  padding: 13px 23px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 25px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));

  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}
.btn-secondary {
  border: 0px;
  text-align: center;
  width: 120px;
  height: 44px;
  display: inline-flex;
  padding: 15px 24px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 25px;
  background: #4ec5f7;

  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}

/* Online Games Funny Videos */
.online-games {
  width: 100%;
  text-align: center;
  padding-top: 50px;
}
.funny-text {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.online-games > .title h1 {
  color: #0b0223;
  font-size: 2rem;
  font-weight: 700;
}
.online-games > .title p {
  color: #534c64;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.first-img {
  width: 250px;
  height: 310px;
}
.second-img {
  width: 250px;
  height: 310px;
}
.third-img {
  width: 250px;
  height: 310px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
    url(images/Rectangle\ 7.png), rgb(21, 17, 17) 50% / cover no-repeat;
}

/* play button icon is an SVG or an image with class "play-button" */
.img-container .third-img {
  position: relative;
}

.img-container .third-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.7); */
  /* opacity: 0; */
  border-radius: 10px;
  transition: opacity 0.3s;
}

.img-container .third-img:hover::before {
  opacity: 1;
}

.img-container .third-img:hover .play-button {
  display: block;
}
/* Dark overlay style */
.img-container div {
  position: relative;
}

.img-container div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 78%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Video play button icon */

.img-container div::after {
  content: "\f04b";
  font-family: FontAwesome;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10px;
  color: #ff42a5;
  content: "Watch Now";
  opacity: 0;
  transition: opacity 0.3s ease;

  text-align: center;
  font-family: Work Sans;
  font-size: 15px;
  font-weight: 600;
}

/* Hover effect */
.img-container div:hover::before {
  opacity: 1;
}

.img-container div:hover::after {
  opacity: 1;
}

/* ----  */

.forth-img {
  width: 250px;
  height: 310px;
}
.img-container p {
  text-align: left;
  color: #534c64;
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
}

.first-paragraph {
  margin-left: 170px;
}

/* Respon */
@media screen and (max-width: 1120px) {
  .img-container {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 400px) {
  .img-container {
    flex-direction: column-reverse;
  }
}

/* Play Instantly, No Downloads, No Installs */
.play-instantly {
  display: flex;
  margin-top: 100px;
  gap: 200px;
}
.text-content {
  text-align: right;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 60px;
  padding-left: 200px;
  padding-top: 200px;
}
.text-content p {
  color: #534c64;
  text-align: right;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
}
.play-instantly .picture {
  width: 62%;
  max-width: 880px;
  height: 725px;
  position: relative;
  padding-left: 320px;
}

.play-instantly .picture .first {
  position: absolute;
  top: 0;
  right: 0;
  width: 634px;
  height: 650px;
  object-fit: cover;
  /* padding-left: 70px; */
}

.play-instantly .picture .second {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-left: 100px;
}

/* Respon */
@media screen and (max-width: 1120px) {
  .play-instantly {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 400px) {
  .play-instantly {
    flex-direction: column-reverse;
    
  }
}

/* play-instantly-second reverse section  */
.play-instantly-second {
  margin-top: 120px;
  display: flex;
  align-items: center;
  gap: 200px;
  margin-bottom: 120px;
}

.play-instantly-second .picture {
  width: 60%;
  max-width: 780px;
  height: 725px;
  position: relative;
}

.play-instantly-second .picture .first {
  position: absolute;
  top: 0;
  left: 0;
  width: 634px;
  height: 650px;
  object-fit: cover;
  padding-left: 70px;
}

.play-instantly-second .picture .second {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* Respon */
@media screen and (max-width: 1120px) {
  .play-instantly {
    flex-direction: column-reverse;
  }
}

/* All Games Section  */
.all-games {
  padding: 120px 0;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}

.all-games .top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 27px;
  margin-bottom: 27px;
}
#border-box {
  border: 1px solid #ff42a5;
  color: #ff42a5;
}

.all-games .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 27px;
}

.boxs {
  display: flex;
  gap: 16px;
  align-items: center;
  border-radius: 50px;
  background: #fff;
  padding: 7px;
}
/* Footer Section  */
footer {
  width: 100%;
  background: #0b0223;
}

.logo-title {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.logo-title img {
  margin-top: 8px;
  width: 80px;
  height: 40px;
}
.g-colors {
  color: #ff42a5;
}
footer h3 {
  text-align: center;
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}

.options ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.options a {
  text-decoration: none;
  color: #fff;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.icon {
  width: 50px;
  margin: 10px;
  border-radius: 50%;
}

.social-icon {
  margin-top: 0px;
}
.last-footer {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 14px;
  height: 120px;
  padding-top: 20px;
}
