/* Share Font Work Sans  */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,700&family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* Nav Section  */
header {
  width: auto;
  height: 130px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
  }
}

nav .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

nav img {
  width: 80px;
  height: 40px;
}
nav h3 {
  font-size: 1.8rem;
  font-weight: 700;
}
.g-color {
  color: #ff42a5;
}

nav > ul {
  display: flex;
  margin-right: 90px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  nav > ul {
    flex-direction: column;
    gap: 36px;
  }
}

nav li {
  list-style: none;
  margin-right: 40px;
}
nav li a {
  text-decoration: none;
  color: #3c354f;
  font-size: 1rem;
  font-weight: 500;
}
.box {
  display: flex;
  align-items: center;
  width: 250px;
  height: 50px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
.box li img {
  margin: 0px;
  width: 24px;
  height: 24\px;
}

/* Banner section  */
.banner {
  gap: 70px;
  margin-top: 38px;
  background-image: url(/images/Group\ 14.png);

  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .banner {
    flex-direction: column;
  }

  .banner img {
    margin: 0;
    width: 711px;
    height: 446px;
  }
}

.banner-content {
  margin-left: 90px;
}
.banner img {
  margin-right: 90px;
}
.banner-content h2 {
  color: #0b0223;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-content h1 {
  font-size: 3.6rem;
  font-weight: 800;
  text-transform: uppercase;

  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-content p {
  text-align: start;
  color: #534c64;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: lowercase;
}
.btn-primary {
  border: 0px;
  text-align: center;
  width: 100px;
  height: 40px;
  display: inline-flex;
  padding: 13px 23px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 25px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));

  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}
.btn-secondary {
  border: 0px;
  text-align: center;
  width: 120px;
  height: 44px;
  display: inline-flex;
  padding: 15px 24px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 25px;
  background: #4ec5f7;

  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}

/* Online Games Funny Videos */
.online-games {
  width: auto;
  height: 400px;
  margin-top: 750px;
  text-align: center;
}
.funny-text {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.online-games > .title h1 {
  color: #0b0223;
  font-size: 2rem;
  font-weight: 700;
}
.online-games > .title p {
  color: #534c64;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
}
.img-container {
  display: flex;
}
.first-img {
  margin-left: 160px;
  width: 250px;
  height: 310px;
}
.second-img {
  margin-left: 20px;
  width: 250px;
  height: 310px;
}
.third-img {
  margin-left: 20px;
  width: 250px;
  height: 310px;
}
.forth-img {
  margin-right: 160px;
  margin-left: 20px;
  width: 250px;
  height: 310px;
}
.img-container p {
  text-align: left;
  color: #534c64;
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
}
.first-paragraph {
  margin-left: 170px;
}
/* Play Instantly, No Downloads, No Installs */
.play-instantly {
  display: flex;
  margin-top: 140px;
  gap: 200px;
}
.text-content {
  text-align: right;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 60px;
}
.text-content p {
  color: #534c64;
  text-align: right;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
}
.play-instantly .picture {
  width: 60%;
  height: 60%;
}

/* play-instantly-second reverse section  */
.play-instantly-second {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

/* All Games Section  */
.all-games {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 60px;
  width: 1340px;
  height: 427px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.boxs {
  align-items: center;
  margin-top: 60px;
  width: 220px;
  height: 60px;
  border-radius: 50px;
  background: #fff;
}
/* Footer Section  */
footer {
  width: 1360px;
  height: auto;
  background: #0b0223;
}

.logo-title {
  /* margin-top: 0px; */
  display: flex;
  justify-content: center;
  gap: 30px;
}
.logo-title img {
  width: 80px;
  height: 40px;
  margin-top: 50px;
}
.g-colors {
  color: #ff42a5;
}
footer h3 {
  text-align: center;
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}

.options ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.options a {
  text-decoration: none;
  color: #fff;
}

/* .social-icon {
  display: flex;
  width: 80px;
  height: 40px;
} */

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.icon {
  width: 50px;
  margin: 10px;
  border-radius: 50%;
}

.social-icon {
  /* background-color: #fff; */
  margin-top: 0px;
}
.last-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  font-weight: 400;
}
